@model CreateCarViewModel
@{
    ViewData["Title"] = "Cars - Add new car";
}

<h1>Add new car</h1>

<form asp-action="Create" method="post">
    <label asp-for="Brand"></label>
    <input asp-for="Brand" list="brandsList" />
    <span asp-validation-for="Brand"></span>

    <label asp-for="ModelName"></label>
    <input asp-for="ModelName" />
    <span asp-validation-for="ModelName"></span>

    <label asp-for="Price"></label>
    <input asp-for="Price" min="0" step="100" /><span>Kr</span>
    <span asp-validation-for="Price"></span>

    <button type="submit">Create car</button>

    <datalist id="brandsList">
        @foreach (string brand in Model.BrandList)
        {
            <option value="@brand">@brand</option>
        }
    </datalist>
</form>