@model List<Car>
@{
    ViewData["Title"] = "Cars - Index";
}

<h1>Cars Index</h1>

<a asp-action="Create">Add a new car</a>

<table>
    <thead>
        <tr>
            <th>Brand</th>
            <th>Model</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Car car in Model)
        {
            <tr>
                <td>@car.Brand</td>
                <td>@car.ModelName</td>
                <td>@car.Price Kr</td>
            </tr>
        }
    </tbody>
</table>